<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=951" />

    <link
      href="assets/css/tailwind.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="assets/css/indikatoren-filter.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="assets/js/modules/jquery/dist/jquery.min.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/bootstrap/js/bootstrap.min.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/modules/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"
      type="text/javascript"
    ></script>
    <script src="assets/js/filter.js" type="text/javascript"></script>
    <script src="assets/js/url-min.js" type="text/javascript"></script>
    <script
      src="metadata/sets/indikatorensetNames.js"
      type="text/javascript"
    ></script>
    <script src="metadata/all/templatesById.js" type="text/javascript"></script>
    <script src="assets/js/modules/proj4/dist/proj4.js"></script>
    <script
      src="assets/js/modules/highcharts/highcharts.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/modules/highcharts/highcharts-more.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/modules/highcharts/modules/stock.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/modules/highcharts/modules/data.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/modules/highcharts/modules/map.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/modules/highcharts/modules/exporting.js"
      type="text/javascript"
    ></script>
    <script
      src="charts/templates/options001.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/modules/seedrandom/seedrandom.min.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/indikatoren-filter.js"
      type="text/javascript"
    ></script>
    <script
      src="assets/js/indikatoren-highcharts.js"
      type="text/javascript"
    ></script>
    <script src="assets/js/customFunctions.js" type="text/javascript"></script>
    <script src="geojson/wohnviertel_EPSG_2056.js"></script>
    <script src="geojson/wohnviertel_EPSG_2056_StadtBasel.js"></script>
    <script src="geojson/rhein_EPSG_2056.js"></script>
    <script src="geojson/UA_Gemeinden_100.js"></script>
    <script src="geojson/GemeindenBSBL_EPSG_2056.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>

    <script src="assets/js/lightbox.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@iframe-resizer/child"
      type="text/javascript"
      async
    ></script>
  </head>

  <body>
    <section class="bg-primary-100 pt-30 pb-[20px] mb-15">
      <div class="container">
        <div class="relative h-[50px] z-10 max-w-10/12">
          <div
            id="search"
            class="grid grid-cols-4 w-full gap-x-20 overflow-hidden bg-white text-gray-600 border rounded-[30px] focus-within:border-purple-500 focus-within:shadow-purple-600 transition-all ease-in-out duration-250"
            role="search"
          >
            <label for="searchterm" class="sr-only">Suchbegriff</label>

            <input
              id="searchbox"
              ref="input"
              v-model="searchTermInternal"
              type="search"
              autocomplete="off"
              name="searchterm"
              class="bg-white text-gray-600 focus:outline-none h-[60px] col-span-4 pl-20"
              spellcheck="false"
              role="searchbox"
              aria-owns="searchterm-suggestions"
              aria-label="Search input"
              placeholder="Suchbegriff eingeben"
            />
          </div>
        </div>
        <div
          class="mt-30 max-w-10/12 grid grid-rows-1 grid-cols-[1fr_1fr] md:grid-cols-[2fr_1fr_1fr_1fr] gap-10 items-end"
        >
          <label class="font-bold col-span-1 md:col-span-1">
            <span class="font-bold block mb-5">Thema</span>
            <div class="relative" id="thema_criteria">
              <select class="input select peer is-placeholder" id="thema">
                <option class="font-bold" value="all">Alle</option>
              </select>
            </div>
          </label>

          <label class="font-bold col-span-1 md:col-span-1">
            <span class="font-bold block mb-5">Unterhema</span>
            <div class="relative" id="unterthema_criteria">
              <select
                class="input select peer is-placeholder"
                id="unterthema_filter"
              >
                <option class="font-bold" value="all">Alle</option>
              </select>
            </div>
          </label>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="w-full flex justify-between">
        <div id="pagination" class="indikatoren-pagination"></div>
        <div id="portal-reset-button" class="underline m-[4px] cursor-pointer">
          <div>Alle Filter löschen</div>
        </div>
      </div>

      <!-- Hide everything until DOM creation has been finished -->
      <script>
        document.body.style.display = "none";
      </script>

      <div class="">
        <!-- sidebar element for portal view -->

        <div class="w-full" id="main-element">
          <!-- Controls for Portal view -->
          <div class="" id="main-control-element-portal">
            <div class="content">
              <div class="">
                <div class="hidden">
                  <select class="form-control" id="sortBy">
                    <option value="kuerzel_asc">
                      Sortierung: Thema &uarr;
                    </option>
                    <option value="kuerzel_desc">
                      Sortierung: Thema &darr;
                    </option>
                  </select>
                </div>
                <div class="hidden per-page">
                  Per Page: <span id="per_page" class="content"></span>
                </div>
                <div id="pagination" class="indikatoren-pagination"></div>
              </div>
            </div>
          </div>

          <!-- Controls for Indikatorenset view -->
          <div id="main-control-element-indikatorenset">
            <div class="row">
              <div class="content col-xs-12">
                <div class="well">
                  <div class="row">
                    <form class="form-inline" role="form">
                      <!-- Invisible, only used for filtering if in Indikatorenset View -->
                      <div class="hidden" id="kennzahlenset-filter-control">
                        <fieldset id="kennzahlenset_criteria">
                          <select
                            class="form-control"
                            id="kennzahlenset_filter"
                          >
                            <!--option value="all">Kennzahlenset</option -->
                          </select>
                        </fieldset>
                      </div>

                      <!-- Invisible, only used for filtering if in Indikatorenset View -->
                      <div class="hidden" id="darstellungsart">
                        <fieldset id="darstellungsart_criteria">
                          <legend>Darstellungsform</legend>
                          <select
                            class="form-control"
                            id="darstellungsart_filter"
                            multiple="multiple"
                          ></select>
                        </fieldset>
                      </div>

                      <div class="per-page">
                        Per Page: <span id="per_page" class="content"></span>
                      </div>

                      <div
                        id="pagination"
                        class="indikatoren-pagination col-xs-12 pull-right"
                      ></div>
                    </form>
                  </div>
                  <div class="row" id="indikatorensetFilterControls">
                    <div class="col-xs-3">
                      <label class="sr-only" for="searchbox">Search</label>
                      <input
                        type="search"
                        class="form-control"
                        id="searchbox"
                        placeholder="Suche&hellip;"
                      />
                    </div>

                    <div class="col-xs-3" id="stufe1_criteria">
                      <select class="form-control" id="stufe1_filter">
                        <option value="all">Kapitel: Alle</option>
                      </select>
                    </div>

                    <div class="col-xs-3" id="stufe2_criteria">
                      <select class="form-control" id="stufe2_filter">
                        <option value="all">Unterkapitel: Alle</option>
                      </select>
                    </div>

                    <div class="col-xs-3" id="stufe3_criteria">
                      <select class="form-control" id="stufe3_filter">
                        <option value="all">Unterkapitel: Alle</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of controls for Indikatorenset view -->

          <div class="indikatoren flex flex-wrap" id="indikatoren"></div>
        </div>
      </div>

      <div
        class="container pull-left"
        id="lastUpdatedSets"
        style="display: none"
      >
        <div>
          <br /><br />
          <h2 class="dataTableStyle1">Zuletzt aktualisierte Datensätze</h2>
          <br /><br />
        </div>
        <div>
          <table id="datenliste" class="table table-striped">
            <thead>
              <tr>
                <th class="dataTableStyle4">Datum</th>
                <th class="dataTableStyle4">Thema</th>
                <th class="dataTableStyle4">Bereich</th>
                <th class="dataTableStyle4 text-right">Datenstand</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Lightbox Modal -->
    <div
      id="lightbox"
      class="fixed inset-0 z-50 flex items-center justify-center bg-[#DDECDE]/80 hidden"
    >
      <div class="w-full max-w-3xl flex items-center justify-center">
        <div
          class="w-full sm:w-4/5 lg:w-3/5 flex flex-col bg-white p-4 min-h-[60vh] rounded-xl shadow-lg"
        >
          <div class="relative flex justify-center mt-4">
            <div
              id="carousel-indicators"
              class="flex space-x-2 mt-10 mb-10"
            ></div>

            <button
              id="close-lightbox"
              class="absolute right-[20px] text-black text-4xl"
              aria-label="Schliessen"
            >
              &times;
            </button>
          </div>

          <div class="flex items-center justify-center flex-grow relative mt-4">
            <button
              id="prev-slide"
              class="-translate-y-1/2 text-gray-600 hover:text-black"
              aria-label="Zurück"
            >
              <img
                class="h-[60px]"
                src="assets/symbols/arrow-west-simple.svg"
                alt="Vorherige Seite"
              />
            </button>

            <div id="lightbox-content" class=""></div>

            <button
              id="next-slide"
              class="top-1/2 -translate-y-1/2 text-gray-600 hover:text-black"
              aria-label="Weiter"
            >
              <img
                class="h-[60px]"
                src="assets/symbols/arrow-east-simple.svg"
                alt="Nächste Seite"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <script id="indikator-template-carousel-portal" type="text/html">
      <div
        class="w-1/2 lg:w-1/4 p-10 indikator"
        indikator-fid-data="<%= _fid %>"
        indikator-id-data="<%= id %>"
        indikator-kuerzel-data="<%= kuerzel %>"
      >
        <div class="thumbnail">
          <a
            href="javascript:void(0);"
            class="lightbox-trigger"
            data-id="<%= id %>"
            data-kuerzel="<%= kuerzel %>"
            data-index="<%= getIndexByFid(_fid) %>"
          >
            <div class="caption">
              <h5 title="<%= kuerzel %>: <%= description %>"><%= title %></h5>
            </div>
            <div>
              <img
                src="images/portal/<%= id %>.svg"
                alt="<%= kuerzel %>: <%= description %>"
                class="w-full"
              />
            </div>
          </a>
        </div>
      </div>
    </script>

    <script id="indikator-template-carousel-indikatorenset" type="text/html">
      <div
        class="col-xs-3 indikator"
        indikator-fid-data="<%= _fid %>"
        indikator-id-data="<%= id %>"
        indikator-kuerzel-data="<%= kuerzel %>"
      >
        <div class="thumbnail">
          <a
            href="javascript:void(0);"
            class="lightbox-trigger"
            data-src="images/portal/<%= id %>.svg"
            data-index="<%= getIndexByFid(_fid) %>"
          >
            <div class="caption">
              <h5 title="<%= kuerzel %>: <%= description %>"><%= title %></h5>
            </div>
            <img
              src="images/portal/<%= id %>.svg"
              alt="<%= kuerzel %>: <%= description %>"
              class="w-full"
            />
          </a>
        </div>
      </div>
    </script>

    <!-- full modal chart template for portal view -->
    <script id="indikator-template-modal-portal" type="text/html">
      <div class="indikator">
        <div id="container-<%= id %>" indikator-id-data="<%= id %>" indikator-kuerzel-data="<%= kuerzel %>" class="highcharts-wrapper"></div>
        <h1><%= 'Indikator ' + kuerzel %></h1>

        <!-- hide lesehilfe if empty -->
        <div id='lesehilfe' class=<%= (lesehilfe==="" ? "'hidden'": "''" ) %>>
          <h1>Lesehilfe</h1>
          <div class='lesehilfe'><%= lesehilfe %>
          </div>
        </div>
        <!-- hide erlaeuterungen info if empty -->
        <div id='erlaeuterungen' class=<%= (erlaeuterungen==="" ? "'hidden'": "''" ) %>>
          <h1>Erläuterungen  und methodische Hinweise</h1>
          <div class='lesehilfe'><%= erlaeuterungen %>
          </div>
        </div>
        <!-- hide Links if empty -->
        <%= renderLinksHTML((typeof(kennzahlenset)!=='undefined' ? kennzahlenset: null), (typeof(renderLink) !== 'undefined' ? renderLink : null), (typeof(externalLinks)!=='undefined' ? externalLinks : null ), 'portal') %>
      </div>
    </script>

    <!-- full modal chart template for indikatorenset view -->
    <script id="indikator-template-modal-indikatorenset" type="text/html">
      <div class="item">
        <div id="container-<%= id %>" indikator-id-data="<%= id %>" indikator-kuerzel-data="<%= kuerzel %>" class="highcharts-wrapper"></div>
        <h1><%= 'Indikator ' + kuerzelKunde %></h1>
        <!-- hide lesehilfe if empty -->
        <div id='lesehilfe' class=<%= (lesehilfe==="" ? "'hidden'": "''" ) %>>
          <h1>Lesehilfe</h1>
          <div class='lesehilfe'><%= lesehilfe %>
          </div>
        </div>
        <!-- hide erlaeuterungen info if empty -->
        <div id='erlaeuterungen' class=<%= (erlaeuterungen==="" ? "'hidden'": "''" ) %>>
          <h1>Erläuterungen und methodische Hinweise</h1>
          <div class='lesehilfe'><%= erlaeuterungen %>
          </div>
        </div>
        <!-- hide Links if empty -->
        <%= renderLinksHTML((typeof(kennzahlenset)!=='undefined' ? kennzahlenset: null), (typeof(renderLink) !== 'undefined' ? renderLink : null), (typeof(externalLinks)!=='undefined' ? externalLinks : null ), 'indikatorenset', stufe1) %>
      </div>
    </script>

    <script id="checkbox-template" type="text/html">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="<%= value %>" />
          <span><%= value %></span>
        </label>
      </div>
    </script>

    <script id="radio-template" type="text/html">
      <div class="radio">
        <label>
          <input
            type="radio"
            name="<%= radioGroupName %>"
            value="<%= value %>"
          />
          <span><%= value %></span>
        </label>
      </div>
    </script>

    <script id="option-template" type="text/html">
      <option value="<%= key %>"><%= value %></option>
    </script>

    <!-- template for dot in carousel that links to nth chart -->
    <script id="carousel-indicator-template" type="text/html">
      <li></li>
    </script>

    <script id="datenliste-row-template" type="text/html">
      <tr>
        <td><%= Datum %></td>
        <td>
          <a href="<%= ThemaLink %>" target="_blank" class="dataTableStyle3"
            ><%= Thema %></a
          >
        </td>
        <td><%= Bereich %></td>
        <td class="text-right"><%= Datenstand %></td>
      </tr>
    </script>
  </body>
</html>
